

@font-face {
    font-family: 'Mona-Sans Regular';
    src: url('./fonts/Mona Sans Regular.woff2') format('woff2'),
        url('./fonts/Mona-Sans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Mona-Sans Medium';
    src: url('./fonts/Mona Sans Medium.woff2') format('woff2'),
    url('./fonts/Mona-Sans-Medium.woff') format('woff');
    font-style: normal;
    font-weight: medium;
}
@font-face {
    font-family: 'Mona-Sans SemiBold';
    src: url('./fonts/Mona Sans  SemiBold .woff2') format('woff2'),
    url('./fonts/Mona-Sans-SemiBold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}
    
@font-face {
    font-family: 'Mona-Sans Bold';
    src: url('./fonts/Mona Sans Bold .woff2') format('woff2'),
    url('./fonts/Mona-Sans-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bolder;
    
}

@font-face {
    font-family: 'Mona Sans Thin';
    src: url('./fonts/Mona Sans Thin.woff2') format('woff2'),
        url('./fonts/Mona-Sans-Thin.woff') format('woff');
    font-style: thin;
    font-weight: normal;
}


*{
    font-family: 'Mona-Sans', sans-serif;
    font-weight: Regular;
}

.fw-bold{
    font-weight: 500;
}
.fw-medium{
    font-weight: 400;
}
.fw-thin{
    font-weight: 200;
}
.fw-bolder{
    font-weight: 700;
}
